<div class="card">
    <div class="card__header">
        <h3>{{title}}</h3>
        <p>codigo: {{id}}</p>
    </div>
    <div class="card__body">
        <p>{{description}}</p>
        <p>Stock: {{stock}}</p>
        <p>{{price}}</p>
    </div>
</div>